{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %} Register {% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="login-container">
      <h1>Register</h1>
      <form method="post" action="{{ url_for('auth.register') }}">
        <!-- Added line -->
        {{ form.csrf_token }}
        <div>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>

        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div>
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" name="password" required />
        </div>

        <div>
          <label for="confirm_password" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            required
          />
        </div>

        <button type="submit">Register</button>
      </form>
      <p>
        Already have an account?
        <a href="{{ url_for('auth.login') }}">Login here</a>.
      </p>
    </div>
    {% endblock %}
  </body>
</html>
